%h1 Editing physical_rack

= render 'form'

= link_to physical_racks_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All Racks
= link_to @physical_rack, :class => 'btn btn-warning' do
  %i.icon-remove.icon-white
  Cancel
= link_to new_physical_rack_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Rack
