%h1 Editing Physical Host

= render 'form'

= link_to physical_hosts_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All Hosts
= link_to @physical_host, :class => 'btn btn-warning' do
  %i.icon-remove.icon-white
  Cancel
= link_to new_physical_host_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Host
