%h1 Editing IP Block

= render 'form'

= link_to ip_blocks_path, :class => 'btn' do
  %i.icon-th-list.icon-black
  All IP Blocks
= link_to @ip_block, :class => 'btn btn-warning' do
  %i.icon-remove.icon-white
  Cancel
= link_to new_ip_block_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New IP Block