- if entity.audits.size > 0
  %p
    %b Modifications:
    - entity.audits.order_by({created_at: -1}).each do |audit|
      %table.table.table-condensed
        %tr
          %td= audit.created_at
          %td= audit.source
          %td 
            .label= audit.action
