.navbar.navbar-fixed-top{"data-dropdown" => "dropdown"}
  .navbar-inner
    .container
      %a.brand{:href => "/"} one ring
      %ul.nav
        %li
          %a{:href => "/datacenters"} Datacenters
        %li
          %a{:href => "/physical_racks"} Racks
        %li
          %a{:href => "/physical_hosts"} Physical Hosts
        %li
          %a{:href => "/ip_blocks"} IP Blocks
        %li
          %a{:href => "/entity_schemas"} Schemas
        %li
          %a{:href => "/worklogs"} Worklog
        %li
          %a{:href => "/audits"} Audit
      %form.navbar-search.pull-left{:action => "/search"}
        %input.search-query{:name => :q, :placeholder => "Search", :type => "text", :value => "#{params[:q]}"}
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-toggle" => 'dropdown'} 
            Hello
            = current_admin_user ? current_admin_user.username : 'Stranger'
            - if admin_user_signed_in?
              %b.caret &nbsp;
          - if admin_user_signed_in?
            %ul.dropdown-menu
              %li
                = link_to("Logout", destroy_admin_user_session_path, :method => :delete)