= semantic_form_for @datacenter, :html => {:class => 'well'} do |f|
  = f.inputs :name, :provider_name, :location, :contact_info, :support_link, :support_email, :support_phone
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Done'
