%h1 Datacenters

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Name
    %th

  - @datacenters.each do |datacenter|
    %tr
      %td= link_to datacenter.name, datacenter
      %td
        = link_to datacenter, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' do
          %i.icon-trash.icon-white
          Delete

= link_to new_datacenter_path, :class => 'btn btn-primary' do
  %i.icon-plus.icon-white
  New Datacenter
