= semantic_form_for @<%= singular_table_name %>, :html => {:class => 'well'} do |f|
<% for attribute in attributes -%>
  = f.input :<%= attribute.name %>
<% end -%>
  = f.buttons do
    = f.commit_button :button_html => {:class => 'btn btn-primary'}, :label => 'Done'
