%h1 Listing Users

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Username
    %th Can write
    %th Last sign in
    %th
    %th

  - @admin_users.each do |admin_user|
    %tr
      %td= link_to admin_user.username, admin_user
      %td= admin_user.can_write
      %td= admin_user.last_sign_in_at
      %td= link_to 'Edit', edit_admin_user_path(admin_user)
      %td 
        Delete (disabled)
        / = link_to admin_user, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger' do
        /   %i.icon-trash.icon-white
        /   Delete
